:root {
  --pixel-size: 25px;
  --border: solid black 1px;
  --weaving-row-number-width: 60px;
  --weaving-grid-gap: 20px;
  --background-frame-number-guide: rgba(248, 137, 19, 0.34);
  --background-selected-rows: rgba(87, 110, 187, 0.34);
}

html {
  font-family: 'Courier New', Courier, monospace;
}

body {
  padding: 32px;
}

h1 {
  margin-bottom: 40px;
}

.guide-frame-number-style {
  background-color: var(--background-frame-number-guide);
  position: absolute;
  z-index: 10;
  pointer-events: none;
}

.guide-frame-number-x {
  width: var(--pixel-size);
  height: 100%;
  left: calc(var(--weaving-row-number-width) + var(--weaving-grid-gap));
  transform: translateX(var(--guide-frame-number-position-x));
}

.guide-frame-number-y {
  height: var(--pixel-size);
  width: calc(var(--weaving-row-number-width) + var(--weaving-grid-gap) + calc(var(--frame-number) * var(--pixel-size)));
  top: calc(var(--frame-number) * var(--pixel-size) + var(--weaving-grid-gap) * 2 + var(--pixel-size));
  transform: translateY(var(--guide-frame-number-position-y));
}

.row-number {
  height: var(--pixel-size);
}

.frame-number {
  width: var(--pixel-size);
}

.frame-params {
  margin-top: 30px;
  margin-bottom: 40px;
}

.threading-type,
.frame-number-value {
  font-weight: bold;
}

.weaving {
  position: relative;
  display: grid;
  grid-template-columns: var(--weaving-row-number-width) calc(var(--frame-number) * var(--pixel-size));
  grid-template-rows: calc(var(--frame-number) * var(--pixel-size)) var(--pixel-size) calc(var(--pixel-size) * var(--drawing-row-number));
  grid-gap: var(--weaving-grid-gap);
  grid-template-areas: 
    "threading-row-numbers generated-threading"
    ". guide-frame-numbers"
    "drawing-row-numbers drawing";
  overflow: hidden;
}

.weaving > *:not(.generated-threading):not(.drawing):not(.guide-frame-number-style):not(.context-menu) {
  border: var(--border);
}

.threading-row-numbers {
  grid-area: threading-row-numbers;
  text-align: center;
}

.threading-row-numbers > * + *,
.drawing-row-numbers > * + * {
  border-top: var(--border);
}

.generated-threading {
  display: grid;
  grid-template-columns: repeat(var(--frame-number), var(--pixel-size));
  grid-template-rows: repeat(var(--frame-number), var(--pixel-size));
  grid-area: generated-threading;
  width: calc(var(--frame-number) * var(--pixel-size));
  height: calc(var(--frame-number) * var(--pixel-size));
  border-left: var(--border);
  border-bottom: var(--border);
  box-sizing: initial;
}

.guide-frame-numbers {
  display: flex;
  grid-area: guide-frame-numbers;
  text-align: center;
}

.guide-frame-numbers > * + * {
  border-left: var(--border);
}

.drawing-row-numbers {
  grid-area: drawing-row-numbers;
  text-align: center;
}

.pixel {
  border: none;
  border-top: var(--border);
  border-right: var(--border);
}

button.pixel:hover {
  background-color: grey;
}

.pixel.is-selected {
  background-color: black;
}

.drawing {
  grid-area: drawing;
  box-sizing: initial;
}

.drawing:not(:hover) ~ .guide-frame-number-style {
  opacity: 0;
}

table {
  width:100%;
  grid-area: drawing;
  border-collapse: collapse;
  border-left: var(--border);
  border-bottom: var(--border);
}

tbody {
  width: 100%;
}

tr {
  height: var(--pixel-size);
}

tr.is-selected {
  background-color: var(--background-selected-rows);
}

td {
  position: relative;
  width: var(--pixel-size);
  height: var(--pixel-size);
}

td button {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--pixel-size);
  height: var(--pixel-size);
  background-color: transparent;
}

.context-menu {
  position: absolute;
  left: calc(var(--weaving-row-number-width) + var(--weaving-grid-gap) + var(--pixel-size));
  top: calc(var(--frame-number) * var(--pixel-size) + var(--weaving-grid-gap) * 2 + var(--pixel-size));
  transform: translate(var(--menu-position-x), var(--menu-position-y));
  z-index: 20;
}

.is-hidden {
  display: none;
}

.context-menu-item {
  border-radius: 10px;
  background-color: #dac2fe;
  border: var(--border);
}

.context-menu-item:hover {
  background-color: greenyellow;
}

.context-menu-item + .context-menu-item {
  border-top: none;
}

.context-menu-item button {
  width: 100%;
  background-color: transparent;
  border: none;
}